.forgotpassword-page{
    font-family: sans-serif ;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background-size: cover;
    background-image: url(/wallpaper.jpg);
}

.forgotpass-Container{
    background: transparent;
    /* height: 54.625rem; */
    /* width: 20rem; */
    max-height: 641px;
    max-width: 1280px;
    height: clamp(38.625rem,85%,72.5rem);
    width: clamp(20rem , 90% ,82.5rem);
    border-radius: 2rem;
    border: 1px solid var(--border);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 10px;
    overflow:hidden;
}

.container{
    background: transparent;
    /* height: 54.625rem; */
    /* width: 20rem; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0px;
}

.maincontainer{
    background-color: transparent;
    width: 500px;
    height: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.emailVerify-logo{
    background-image: url(/Healix.png);
    background-size: cover;
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    border: 1px solid var(--border);
}

.maincontainer h1{
    font-size: 50px;
}

.maincontainer h2{
    font-size: 30px;
}

.maincontainer p{
    font-size: 21px;
}




